/* PHASE 6: Sidebar */


.profile-picture {
  overflow: hidden;
  display: block;
  margin-top: -120px;
  position: relative;
  border: solid 1px #000;
  border-radius: 5px;
}

.profile-info h1 {
  font-weight: 700;
  font-size: 24px;
  padding: 20px 0px;
}

.profile-nav {
  font-weight: 700;
  border-top: solid 1px #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile-nav li {
  padding: 5px;
  border-bottom: solid 1px #ccc;
}
