/* PHASE 7: Online */

.online {
  display: block;
  position: absolute;
  top: 0px;
  transform: rotate(-45deg)
            translateX(-25%);
  background-color: #0c0;
  padding: 5px 30px;
  color: #fff;
  top: -10px;
  left: -10px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  box-shadow: 0 1px 0 0 #070;
}
